<h1>My Aha! Moments</h1>

<ul id="ahas">
  <% @items.each do |item| %>
    <li id="<%= dom_id(item) %>"><%= item.description %> <%= link_to "Toast", item_url(item), :method => :delete, :remote => true %></li>
  <% end %>
</ul>

<%= render 'form' %>


