/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  font-family: Helvetica;
  margin: 20px;
}

#header { 
  border-bottom: solid 3px #0A0; 
  background: #006; 
  padding: 5px; 
  color: #FFF
}

#header h1 { margin: 0; font-weight: normal; }

#header a, #header a:visited { color: #FFF; }